---
title: Home
---

<h1 class="gigaHeading text-centre page-title"><span class="page-title-sub"><span class="page-title-sub-text">The</span> V</span>isual Web</h1>
<h2 class="text-intro text-centre">A curated list of interaction and animation patterns from across the web. </h2>