{{> html_start }}
  <body>
    <!-- nav partial -->
    {{> nav }}

    <div class="container">

      <!-- body partial, used for adding pages to layout -->
      {{> body }}

      <script src="{{assets}}/highlight.js"></script>
    </div>
  </body>
</html>